/* 
COLORS: 
navy blue: #002642
teal blue: #375F6C
light blue: #CEDDF2
white: #FFFFFF 

FONTS:
font-family: "montserrat", sans-serif;
font-family: "spartan", sans-serif;
font-family: "marcellus", serif;

/* GENERAL */
html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  color: white;
  background-color: #002642;
  margin: auto;
  width: 50%;
  padding: 15px;
  text-align: center;
  font-family: "spartan", sans-serif;
  font-weight: lighter;
  font-size: 1.75rem;
}

h3 {
  font-family: "montserrat", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

h4 {
  color: #002642;
  text-align: center;
  font-family: "marcellus", serif;
  font-size: 1.75rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

h5 {
  color: #002642;
  text-align: center;
  font-family: "marcellus", serif;
  font-size: 1.2rem;
  font-weight: lighter;
}

h6 {
  color: #002642;
  /* text-align: left; */
  font-family: "marcellus", serif;
  font-size: 1.15rem;
  font-weight: lighter;
}

.email-button,
.read-more-button {
  color: white;
  background-color: #375f6c;
  padding: 10px;
  font-family: "marcellus", serif;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.page-text p {
  color: #002642;
  font-family: "marcellus", serif;
  font-size: 0.9rem;
  text-align: left;
  width: 90%;
  margin: auto;
  padding: 1rem;
  line-height: 2rem;
}

/**** HEADER ************************************************************/
header {
  background-color: #eaf0f8;
  padding-top: 15px;
}

figure {
  margin-right: 20px;
  margin-left: 20px;
}

figure img {
  width: 100%;
  margin: auto;
}

/*Email button in header on <768 screens */
header .email-button {
  float: right;
  margin-top: 20px;
  margin-right: 4rem;
}

/**** HAMBURGER NAVIGATION MENU ************************************************************/
.mobile-container {
  margin-top: -2.75em;
}

.topnav {
  overflow: hidden;
  background-color: #eaf0f8;
  padding: 10px;
}

/* Hide the links inside the navigation menu until click*/
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #002642;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: "spartan", sans-serif;
  text-align: center;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #eaf0f8;
  display: block;
  font-size: 1.35rem;
  top: 0;
}

/* Style the active links */
.active {
  background-color: #eaf0f8;
  color: #002642;
}

/* STANDARD NAVIGATION MENU *************************************************************/
header nav {
  text-align: center;
  font-size: 0.9rem;
  padding: 20px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline;
  padding: 3%;
}

header li a {
  font-family: "spartan", sans-serif;
  color: #002642;
  text-align: right;
  text-decoration: none;
}

header li a:hover {
  text-decoration: solid underline #002642 1px;
}

/* social icons */
.fab {
  width: 60px;
  font-size: 2.25rem;
  color: #375f6c;
}

footer {
  padding: 50px 0;
  background-color: #eaf0f8;
}

/*Formats the bullet points on FAQ page */
h6 span {
  color: #002642;
  font-size: 1.25rem;
}

.qa-container {
  width: 80%;
  margin: auto;
}

.question {
  display: flex;
  justify-content: space-between;
}

.question p {
  text-transform: uppercase;
}

.qa-button {
  font-size: 2em;
  color: #375f6c;
  background-color: white;
  border: none;
  border-radius: 20%;
  margin: 0.5em;
}

.qa-button:hover {
  transform: rotate(90deg);
  cursor: grab;
}

/* BREAKPOINTS  BREAKPOINTS  BREAKPOINTS  BREAKPOINTS */

/* MOBILE BREAKPOINTS - HOME PAGE *****************************************************
/* Preventing too much white space between wall image and wall text in smaller screens */
@media screen and (max-width: 330px) {
  .wall-small {
    max-height: 195px;
  }
  .wall-too {
    padding-top: 0;
  }
}

/* Prevent hero text and email button from moving too far down the screen when smaller than 362 */
@media screen and (max-width: 400px) {
  .title-text h1 {
    font-size: 1.6em;
  }

  .title-text h3 {
    font-size: 1.25em;
  }

  footer {
    padding: 25px 0;
  }

  /*To keep badges in block formation so they don't overlap on small screens*/
  .badges {
    display: block;
    text-align: center;
  }

  .badges img {
    padding: 20px;
  }
  .badges a {
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .wall-small {
    max-height: 210px;
  }
}

/* Hide the main nav menu & header contact email link on mobile screens */
@media screen and (max-width: 767px) {
  header .email-button {
    display: none;
  }
  header nav {
    display: none;
  }
}
/* TABLET BREAKPOINTS - HOME PAGE **************************************/
@media screen and (min-width: 768px) {
  .mobile-container {
    display: none;
  }

  header figure {
    width: 75%;
  }

  figure img {
    width: 100%;
    margin-left: 20px;
  }

  header nav {
    text-align: right;
    font-size: 0.9rem;
    padding: 40px 20px 20px 20px;
  }
  .title-text {
    padding-top: 350px;
  }

  #title-hero {
    background-image: url("../img/brooks-hero@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 640px;
  }
  .half-width {
    width: 48%;
    display: inline-block;
    margin: auto;
  }

  .intro-text {
    padding-bottom: 60px;
    margin-left: 35%;
  }

  .intro-text p {
    width: 95%;
    line-height: 1.5rem;
  }

  .specialties h2 {
    width: 42%;
    margin: 0 25%;
  }

  .wall {
    width: 100%;
    height: 275px;
    background-image: url("../img/brooks-wall-desktop@2x.jpg");
    background-size: 100%; /* cover */
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
  }

  .wall-small {
    display: none;
  }

  .wall-too {
    width: 45%;
    margin-top: 3%;
    margin-right: 2rem;
    padding: 2px;
  }

  .wall-too p {
    width: 95%;
    border: 3px double #002642;
    font-size: 1rem;
    padding: 10px;
  }

  #contact {
    margin-top: 0;
  }

  #contact-form {
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 875px) {
  .wall {
    min-height: 300px;
  }

  .wall-too {
    width: 40%;
    margin-top: 5%;
    margin-right: 3rem;
  }
}
/* DESKTOP BREAKPOINTS *****************************************************/

@media screen and (min-width: 1060px) {
  html {
    font-size: 20px;
  }

  .title-text {
    padding-top: 375px;
  }

  #title-hero {
    width: 100%;
    height: 740px;
  }

  h1 {
    font-size: 2.25rem;
  }

  .wall-too {
    margin-top: 3%;
  }

  .wall-too p {
    font-size: 0.9rem;
  }

  .one-column img {
    width: 35%;
  }
}

/* Old Code - Delete if not needed anymore */
/* .pages-cta {
  background-color: #eaf0f8;
  /* background-size: 100%; 
  text-align: center;
}

.pages-cta p {
  margin: 0;
  height: 50%;
  padding-top: 3%;
  padding-bottom: 5%;
} */
