/* 
COLORS: 
navy blue: #002642
teal blue: #375F6C
light blue: #CEDDF2
white: #FFFFFF 

FONTS:
font-family: "montserrat", sans-serif;
font-family: "spartan", sans-serif;
font-family: "marcellus", serif;

/* GENERAL */
html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #eaf0f8;
}

h1 {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  color: white;
  background-color: #002642;
  margin: auto;
  width: 50%;
  padding: 15px;
  text-align: center;
  font-family: "spartan", sans-serif;
  font-weight: lighter;
  font-size: 1.75rem;
}

h3 {
  font-family: "montserrat", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

h4 {
  color: #002642;
  text-align: center;
  font-family: "marcellus", serif;
  font-size: 1.75rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

h5 {
  color: #002642;
  text-align: center;
  font-family: "marcellus", serif;
  font-size: 1.2rem;
  font-weight: lighter;
}

h6 {
  color: #002642;
  /* text-align: left; */
  font-family: "marcellus", serif;
  font-size: 1.15rem;
  font-weight: lighter;
}

.page-text p {
  color: #002642;
  font-family: "marcellus", serif;
  font-size: 0.9rem;
  text-align: left;
  width: 90%;
  margin: auto;
  padding: 1rem;
  line-height: 2rem;
}

/**** HEADER ************************************************************/
header {
  background-color: #eaf0f8;
  padding-top: 35px;
}

/**** HAMBURGER NAVIGATION MENU ************************************************************/
.topnav {
  overflow: hidden;
  background-color: #eaf0f8;
  padding: 10px;
}

/* Hide links inside the navigation menu until click*/
.topnav #nav-links {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #002642;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: "spartan", sans-serif;
  text-align: center;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #eaf0f8;
  display: block;
  font-size: 1.35rem;
  top: 0;
}

/* Style the active links */
.active {
  background-color: #eaf0f8;
  color: #002642;
}

/* STANDARD NAVIGATION MENU *************************************************************/
header nav {
  text-align: center;
  font-size: 0.9rem;
  padding: 20px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline;
  padding: 3%;
}

header li a {
  font-family: "spartan", sans-serif;
  color: #002642;
  text-align: right;
  text-decoration: none;
}

header li a:hover {
  text-decoration: solid underline #002642 1px;
}

/* Q&A FORMATTING ************************************************************ */
.qa-container {
  width: 80%;
  margin: auto;
}

.qa-single {
  background-color: white; 
  /* border-radius: ; */
  margin-bottom: 20px; 
}

.question {
  display: flex;
}

.question p {
  text-transform: uppercase;
}

.qa-button {
  font-size: 1.25em;
  color: #375f6c;
  background-color: white;
  border: none;
  border-radius: 20%;
  margin: 0.5em;
}

.qa-button:hover {
  transform: rotate(90deg);
  cursor: grab;
}

.answer {
  border-top: 1px solid rgb(55, 95, 108, 0.3);
}

/* Hide close icon and answer by default  */
.close-icon, .answer {
  display: none;
}


/* BREAKPOINTS  BREAKPOINTS  BREAKPOINTS  BREAKPOINTS */

/* MOBILE BREAKPOINTS - HOME PAGE *****************************************************/

/* Hide the main nav menu on mobile screens */
@media screen and (max-width: 767px) {
  header nav {
    display: none;
  }
}
/* TABLET BREAKPOINTS - HOME PAGE **************************************/
@media screen and (min-width: 768px) {
  .mobile-container {
    display: none;
  }

  header nav {
    text-align: right;
    font-size: 0.9rem;
    padding: 40px 20px 20px 20px;
  }
  .title-text {
    padding-top: 350px;
  }

/* DESKTOP BREAKPOINTS *****************************************************/

@media screen and (min-width: 1060px) {
  html {
    font-size: 20px;
  }

  h1 {
    font-size: 2.25rem;
  }
